network:
  domain: liquidnode.liquid # defaults to liquidnode.liquid

  lan: # downstream network. clients connect and expect dhcp+dns from us.
    ip: 10.0.0.1 # defaults to 10.0.0.1
    netmask: 255.255.255.0 # defaults to 255.255.255.0
    dhcp_range: 10.0.0.100-255 # defaults to 10.0.0.100-255

    hotspot: # hotspot is always on (Primary node WiFi/'admin' hotspot interface)
      ssid: foo
      password: bar

    eth: false # if true, eth0 will function as dhcp+dns server; defaults to false

  wan: # upstream network. we expect dhcp server (or static config) and optionally routing to the Internet.
    static: # if missing, configure using dhcp
      ip: 192.168.66.66  # no default
      netmask: 255.255.255.0 # no default
      gateway: 192.168.66.1 # no default
      dns_server: 192.168.66.1 # no default

    wifi: # list of networks to connect as client
      - username: user
      - password: password

  ssh:
    # NOTE: if enabled is set to true, we will allow ssh login for the 'liquid' user only.
    # NOTE: the 'liquid' user will be a sudoer
    enabled: true | false # defaults to false
    # NOTE: these show up in /home/liquid/.ssh/authorized_keys
    authorized_keys: # defaults to an empty list. unused if enabled: false
      - key 1
      - key 2
      - key 3
    port: 22 # defaults to 22
